@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Asteroid Zone
    </h1>
    <small>We hope that you will like the game.</small>
</div>
