@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">
        Welcome to <a class="space-font">AsteroidZone</a>
    </h1>

    <input type="button" value="Start" onclick="joinVoiceChat('GLOBAL_CHAT')" />
    <input type="button" id="mute-btn" value="Mute" onclick="muteUnmuteMyselfInVoiceChat()" />
    <input type="button" value="Stop" onclick="leaveVoiceChat()" />

    <hr class="home-hr" />
    <h4>Concept</h4>
    <p>
        Multiplayer space sim game with a heavy focus on team collaboration and voice control. Players mine for resources, research upgrades, fight pirates and more to repair their space station and escape the region of space they find themselves in!
    </p>
    <h4>We hope that you will like the game!</h4>
    <div class="buttonHolder">
        <a class="white" asp-area="" asp-page="/Play">
            <p>
                <span class="bg"></span><span class="base"></span><span class="text">Play AsteroidZone</span>
            </p>
        </a>
    </div>
    <br />
    <br />
    <hr class="home-hr" />
    <h5>
        Final Version Expected 18/05/2021
    </h5>
</div>