@page
@model AsteroidZone.Pages.PlayModel
@{
}
<script src="TemplateData/UnityProgress.js"></script>
<script src="Build/UnityLoader.js"></script>
<script>
    var unityInstance = UnityLoader.instantiate("unityContainer", "Build/MonoBleedingEdge.json", {onProgress: UnityProgress});
</script>
<div class="container webgl-content">
    <div id="unityContainer" style="width: 960px; height: 600px"></div>
    <div>
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">AsteroidZone</div>
    </div>
</div>
