/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'SpaceFont'; /*a name to be used later*/
    src: url('../font/SpaceFont.ttf'); /*URL to font*/
}

.space-font {
    font-family: 'SpaceFont', cursive;
    font-style: italic;
}

.navbar {
    padding: 5px !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'SpaceFont', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 25pt;
    color: lightgoldenrodyellow !important;
}

h1 {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: lightgoldenrodyellow;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oleo Script', cursive;
}

.nav-link {
    font-size: 20pt;
    font-family: 'SpaceFont', cursive;
}

/* Provide sufficient contrast against white background */

a { color: lightblue; }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

html { font-size: 17px; }

@media (min-width: 768px) {
    html { font-size: 22px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: dimgray;
    color: lightcyan;
    font-family: 'Quicksand', cursive;
    font-weight: 400
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-size: 22pt;
    color: aliceblue;
    font-family: 'SpaceFont', cursive;
    background-color:
}

